@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  padding: 2rem;
  width: 100%;
}

.login-container h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  background: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.75rem;
}

.form button {
  background-color: #09b2e5;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  outline: none;
  padding: 0.75rem;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
}

.form button:hover {
  background-color: #1abeff;
}

.form .message {
  color: #b3b3b3;
  font-size: 0.875rem;
  margin-top: 1rem;
  text-align: center;
}

.form .message a {
  color: #fff;
  text-decoration: none;
}

.form .message a:hover {
  text-decoration: underline;
}
